{% extends "base.html" %}

{% block content %}
<h2 class="py-3">Create a New Blog</h2>
<form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.title.label(class="form-label") }}
        {{ form.title(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.description.label(class="form-label") }}
        {{ form.description(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.content.label(class="form-label") }}
        {{ form.content(class="form-control", rows=5) }}
    </div>
    {% if form.errors %}
    <div class="alert alert-danger">
        <ul>
            {% for field, errors in form.errors.items() %}
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
            {% endfor %}
        </ul>
    </div>
                {% endif %}
    <button type="submit" class="btn btn-primary">{{ form.submit.label }}</button>
</form>
{% endblock %}
