{% extends "base.html" %}

{% block content %}
<div class="row mt-5">
    {% for product in blogs %}
    <div class="col-lg-4 col-md-6 d-flex mb-4">
        <div class="blog-card d-flex flex-column">
            <div class="blog-content d-flex flex-column">
                {% set user = users[product.user_id] %}
                <div class="delete-button-container">
                    {% if current_user.role == 'admin' %}
                    <form action="{{ url_for('delete_blog', blog_id=product.id) }}" method="POST" style="margin-top: 10px;">
                        <button type="submit" class="btn btn-danger delete-button">Delete</button>
                    </form>
                    {% endif %}
                </div>
                <img src="{{ url_for('static', filename='uploads/' + (user.img if user.img else 'default.jpg')) }}" class="image-on-top" alt="Profile Picture">
                <div class="text d-flex flex-column flex-grow-1"> 
                    <div class="blog-title">{{ product.title }}</div>
                    <p class="description">{{ product.description }}</p>
                    <a href="/blogs/{{ product.id }}" class="read-more">Read More</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
