{% extends "base.html" %}

{% block content %}
<h2 class="py-3">Register</h2>
<form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.username(class="form-control", placeholder="Enter your username") }}
    </div>
    <div class="mb-3">
        {{ form.name(class="form-control", placeholder="Enter your first name") }}
    </div>
    <div class="mb-3">
        {{ form.surname(class="form-control", placeholder="Enter your surname") }}
    </div>
    <div class="mb-3">
        {{ form.password(class="form-control", placeholder="Enter your password") }}
    </div>
    <div class="mb-3">
        {{ form.repeat_password(class="form-control", placeholder="Repeat your password") }}
    </div>
    <div class="mb-3">
        {{ form.img(class="form-control") }}
    </div>
    <button type="submit" class="btn btn-primary">{{ form.register.label }}</button>
</form>
{% if form.errors %}
<div style="color: red; margin-bottom: 10px; margin-top: 30px;">
    <ul>
        {% for field, errors in form.errors.items() %}
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
</div>
{% endif %}  
{% endblock %}
